section.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 5rem;

  .step {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4d4d4d;

    .number {
      color: #fff;
      background-color: #d4d4d4;
      width: 3rem;
      height: 3rem;
      border-radius: 100px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding-bottom: 2px;
    }

    .bar {
      width: 15rem;
      height: 2px;
      background-color: #d4d4d4;
      transform: translateX(5px);
    }

    &_active {
      color: $theme-color-main;
      .number {
        background-color: $theme-color-main;
      }
      .bar {
        background-color: $theme-color-main;
      }
    }

    @media screen and (max-width: 1200px) {
      .bar {
        width: 10rem;
      }
    }
    @media screen and (max-width: 1000px) {
      .bar {
        width: 5rem;
      }
    }
    @media screen and (max-width: 800px) {
      .number {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
