* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 4rem;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.6rem;

  @media screen and (max-width: 500px) {
    padding: 2rem;
  }

  a::selection {
    color: #fff;
    background-color: $theme-color-blue-2;
  }
}
