//color
$theme-color-main: #0c8f4f;
$theme-color-blue: #0a7eda;
$theme-color-blue-2: #2d41ac;
$theme-color-orange: #ff5a00;
$theme-color-green: #26b0a4;
$theme-color-red: #ff6360;
$theme-color-purple: #9f41bd;

$bg-main: #0c8f4f;
$bg-white: #fff;
$bg-red: #e66b6b;
$bg-blue: #00869e;
$bg-blue-2: #0089c2;
$bg-orange: #fc9424;
$bg-green: #1fbba6;
$bg-purple: #804c75;
$bg-azure: #00adb8;
$bg-yellow: #ffb848;

$bg-beige: #cc9;
$bg-dark-beige: #bb7;

$gray-1: #4d4d4d;

//box-shadow
$box-shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;

//border
$border-normal: 1px solid #d4d4d4;
